In [1]:
from google.colab import files
uploaded = files.upload()

In [ ]:
import io
import pandas as pd
aapl = pd.read_csv(io.BytesIO(uploaded['aapl.csv']))
amzn = pd.read_csv(io.BytesIO(uploaded['amzn.csv']))
fb = pd.read_csv(io.BytesIO(uploaded['fb.csv']))
goog = pd.read_csv(io.BytesIO(uploaded['goog.csv']))
nflx = pd.read_csv(io.BytesIO(uploaded['nflx.csv']))
df = [aapl, amzn, fb, goog, nflx]

In [ ]:
aapl['ticker'] = 'aapl'
amzn['ticker'] = 'amzn'
fb['ticker'] = 'fb'
goog['ticker'] = 'goog'
nflx['ticker'] = 'nflx'

In [ ]:
faang = pd.concat(df)

In [ ]:
faang['date'] = pd.to_datetime(faang['date'])
faang['volume'] = faang['volume'].astype(int)

In [ ]:
faang.sort_values(['date', 'ticker'])

          date         high          low  ...        close     volume  ticker
0   2018-01-02    43.075001    42.314999  ...    43.064999  102223600    aapl
0   2018-01-02  1190.000000  1170.510010  ...  1189.010010    2694500    amzn
0   2018-01-02   181.580002   177.550003  ...   181.419998   18151900      fb
0   2018-01-02  1066.939941  1045.229980  ...  1065.000000    1237600    goog
0   2018-01-02   201.649994   195.419998  ...   201.070007   10966900    nflx
..         ...          ...          ...  ...          ...        ...     ...
250 2018-12-31    39.840000    39.119999  ...    39.435001  140014000    aapl
250 2018-12-31  1520.760010  1487.000000  ...  1501.969971    6954500    amzn
250 2018-12-31   134.639999   129.949997  ...   131.089996   24625300      fb
250 2018-12-31  1052.699951  1023.590027  ...  1035.609985    1493300    goog
250 2018-12-31   270.100006   260.000000  ...   267.660004   13508900    nflx

[1255 rows x 7 columns]

In [ ]:
faang.sort_values('volume')[0:7]

          date         high          low  ...        close  volume  ticker
126 2018-07-03  1135.819946  1100.020020  ...  1102.890015  679000    goog
226 2018-11-23  1037.589966  1022.398987  ...  1023.880005  691500    goog
99  2018-05-24  1080.469971  1066.150024  ...  1079.239990  766800    goog
130 2018-07-10  1159.589966  1149.589966  ...  1152.839966  798400    goog
152 2018-08-09  1255.541992  1246.010010  ...  1249.099976  848600    goog
159 2018-08-20  1211.000000  1194.625977  ...  1207.770020  870800    goog
161 2018-08-22  1211.839966  1199.000000  ...  1207.329956  887400    goog

[7 rows x 7 columns]