Exercise 1

In [ ]:
from google.colab import files
uploaded = files.upload()

In [ ]:
import io
import pandas as pd
aapl = pd.read_csv(io.BytesIO(uploaded['aapl.csv']))
amzn = pd.read_csv(io.BytesIO(uploaded['amzn.csv']))
fb = pd.read_csv(io.BytesIO(uploaded['fb.csv']))
goog = pd.read_csv(io.BytesIO(uploaded['goog.csv']))
nflx = pd.read_csv(io.BytesIO(uploaded['nflx.csv']))
df = [aapl, amzn, fb, goog, nflx]

In [ ]:
aapl['ticker'] = 'aapl'
amzn['ticker'] = 'amzn'
fb['ticker'] = 'fb'
goog['ticker'] = 'goog'
nflx['ticker'] = 'nflx'

In [ ]:
faang = pd.concat(df)

In [ ]:
faang['date'] = pd.to_datetime(faang['date'])
faang['volume'] = faang['volume'].astype(int)

In [ ]:
faang.sort_values(['date', 'ticker'])

          date         high          low  ...        close     volume  ticker
0   2018-01-02    43.075001    42.314999  ...    43.064999  102223600    aapl
0   2018-01-02  1190.000000  1170.510010  ...  1189.010010    2694500    amzn
0   2018-01-02   181.580002   177.550003  ...   181.419998   18151900      fb
0   2018-01-02  1066.939941  1045.229980  ...  1065.000000    1237600    goog
0   2018-01-02   201.649994   195.419998  ...   201.070007   10966900    nflx
..         ...          ...          ...  ...          ...        ...     ...
250 2018-12-31    39.840000    39.119999  ...    39.435001  140014000    aapl
250 2018-12-31  1520.760010  1487.000000  ...  1501.969971    6954500    amzn
250 2018-12-31   134.639999   129.949997  ...   131.089996   24625300      fb
250 2018-12-31  1052.699951  1023.590027  ...  1035.609985    1493300    goog
250 2018-12-31   270.100006   260.000000  ...   267.660004   13508900    nflx

[1255 rows x 7 columns]

In [ ]:
faang.sort_values('volume')[0:7]

          date         high          low  ...        close  volume  ticker
126 2018-07-03  1135.819946  1100.020020  ...  1102.890015  679000    goog
226 2018-11-23  1037.589966  1022.398987  ...  1023.880005  691500    goog
99  2018-05-24  1080.469971  1066.150024  ...  1079.239990  766800    goog
130 2018-07-10  1159.589966  1149.589966  ...  1152.839966  798400    goog
152 2018-08-09  1255.541992  1246.010010  ...  1249.099976  848600    goog
159 2018-08-20  1211.000000  1194.625977  ...  1207.770020  870800    goog
161 2018-08-22  1211.839966  1199.000000  ...  1207.329956  887400    goog

[7 rows x 7 columns]

Exercise 2

In [2]:
from google.colab import files
uploaded = files.upload()
df = pd.read_csv(io.BytesIO(uploaded['covid19_cases.csv']))

Saving covid19_cases.csv to covid19_cases.csv

In [6]:
df['date'] = pd.to_datetime(df['dateRep'])

In [9]:
df.set_index('date').sort_index()

               dateRep  ...  Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
date                    ...
2020-01-01  01/01/2020  ...                                                NaN
2020-01-01  01/01/2020  ...                                                NaN
2020-01-01  01/01/2020  ...                                                NaN
2020-01-01  01/01/2020  ...                                                NaN
2020-01-01  01/01/2020  ...                                                NaN
...                ...  ...                                                ...
2020-12-09  12/09/2020  ...                                          14.913383
2020-12-09  12/09/2020  ...                                           0.078994
2020-12-09  12/09/2020  ...                                          16.812346
2020-12-09  12/09/2020  ...                                         168.644933
2020-12-09  12/09/2020  ...                                         933.120120

[43443 rows x 12 columns]

In [11]:
df.replace({'United_States_of_America':'USA', 'United_ Kingdom':'UK'}, inplace=True)

In [13]:
df=df[df['countriesAndTerritories'].isin(['Argentina', 'Brazil', 'China', 'Colombia', 'India', 'Italy', 'Mexico', 'Peru', 'Russia', 'Spain', 'Turkey', 'UK', 'USA'])]

In [16]:
df.pivot(index='date', columns='countriesAndTerritories', values='cases').fillna(0)

countriesAndTerritories  Argentina   Brazil   China  ...   Spain  Turkey      USA
date                                                 ...
2020-01-01                     0.0      0.0     0.0  ...     0.0     0.0      0.0
2020-01-02                     0.0      0.0  2095.0  ...     1.0     0.0      1.0
2020-01-03                     0.0      1.0   574.0  ...    28.0     0.0      3.0
2020-01-04                     0.0   1138.0    54.0  ...  7413.0  2704.0  24998.0
2020-01-05                   143.0   7218.0    12.0  ...  1387.0  2615.0  29917.0
...                            ...      ...     ...  ...     ...     ...      ...
2020-12-05                   245.0   5632.0     1.0  ...   482.0  1114.0  18117.0
2020-12-06                  1373.0  30412.0     7.0  ...   502.0   987.0  22883.0
2020-12-07                  3367.0  39023.0    35.0  ...     0.0  1016.0  63051.0
2020-12-08                  7369.0  52160.0    58.0  ...  3172.0  1183.0  46813.0
2020-12-09                 11905.0  43718.0    18.0  ...     0.0  1671.0  48061.0

[262 rows x 12 columns]